@import url(normalize.css);
@import url("https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@300;600;700&display=swap");

:root {
  /* Colors*/
  /* Primary */

  --blue: hsl(223, 87%, 63%);
  --blue-hover: rgba(79, 125, 243, 0.7);
  --white: hsl(0, 100%, 100%);
  --green: hsl(123, 42%, 57%);

  /* Secondary */

  --pale-blue: hsla(223, 100%, 88%, 0.6);
  --light-red: hsl(354, 100%, 66%);

  /* Neutral */
  --gray: hsl(0, 0%, 59%);
  --very-dark-blue: hsl(209, 33%, 12%);

  /* Fonts */

  --franklin: "Libre Franklin", sans-serif;

  /* Weights */

  --w-light: 300;
  --w-semiBold: 600;
  --w-bold: 700;

  /* Sizes*/
  --s-8: 0.5rem;
  --s-16: 1rem;
  --s-24: 1.5rem;
  --s-32: 2rem;
  --s-40: 2.5rem;
  --s-48: 3rem;
  --s-64: 4rem;
  --s-80: 5rem;
}

body {
  font-family: var(--franklin);
}

h1 {
  margin-bottom: 24px;
}

p {
  font-size: 20px;
  color: var(--very-dark-blue);
  margin-bottom: 40px;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 100vh;
}
input {
  box-sizing: border-box;
  min-width: 420px;
  min-height: 55px;
  padding: var(--s-16) var(--s-24);
  margin: 0 var(--s-16) 0 0;
  border: 1px solid var(--gray);
  border-radius: var(--s-48);
}

button {
  min-width: 200px;
  min-height: 55px;
  border: none;
  border-radius: var(--s-48);
  background-color: var(--blue);
  color: var(--white);
  box-shadow: 4px 3px 4px 2px var(--pale-blue);
  cursor: pointer;
}

button:hover {
  background-color: var(--blue-hover);
}

i {
  color: var(--blue);
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-width: 650px;
  margin-bottom: var(--s-48);
}

.ping-logo {
  width: 85px;
  margin-bottom: 60px;
  height: var(--s-24);
}

.first {
  font-weight: var(--w-light);
  color: var(--gray);
}

.second {
  font-weight: var(--w-bold);
  color: var(--very-dark-blue);
}

.form {
  max-height: 55px;
  display: inline-flex;
  margin-bottom: 90px;
}

.error {
  display: none;
  font-size: var(--s-16);
  color: var(--light-red);
  margin: var(--s-8) var(--s-24);
}

.success-input {
  border: 1px solid var(--green);
}

.form-error {
  border: 1px solid var(--light-red);
}

.input-area {
  display: flex;
  flex-direction: column;
}
.illustration {
  width: 650px;
}

.socials {
  display: flex;
  flex-direction: row;
  margin-top: 70px;
}

.social-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  border: 1px solid var(--gray);
  margin-right: var(--s-16);
  cursor: pointer;
}

.social-icon:hover {
  background-color: var(--blue);
}
.social-icon:hover i {
  color: var(--white);
}

.ping-footer {
  font-size: var(--s-16);
  width: 100%;
  text-align: center;
  bottom: var(--s-16);
  color: var(--gray);
  margin: var(--s-32) 0 50px 0;
}

.attribution {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 11px;
  width: 100%;
  text-align: center;
  position: inherit;
  bottom: var(--s-8);
  color: var(--blue);
}

.attribution a {
  text-decoration: none;
  color: hsl(228, 45%, 44%);
}
